*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: #050609;
    color: #F5D0C5;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
}

.right-container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}


.safe-container,
.email-container,
.form-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    background-color: #2b303d77;
    border-radius: 10px;
    box-shadow: 0 3px 5px 3px #2b303d7e;
   
}

.form-container{
    padding: 1.25rem;
    height: 35rem;
    width: 17rem;
    >span:nth-child(2){
        margin-bottom: -1rem;
    }
}

#close{
    align-self: flex-end;
    font-size: 1.5rem;
    margin: -1.5rem -.5rem;
    color: #774936;
    transition: transform 300ms ease-in-out;
    border-radius: 50%;

    &:hover{
        background-color: #774936;
        color: wheat;
        cursor: pointer;
        transform: rotate(180deg);
    }
}

label{
    font-size: .75rem;
    margin-bottom: -2rem;
}

input:not(#inputMessage){
    background-color: inherit;
    height: 2.25rem;
    width: 16rem;
    outline: none;
    border-radius: 5px;
    border: 1px solid grey;
}

#inputMessage{
    background-color: inherit;
    width: 16rem;
    height: 5rem;
    outline: none;
    border-radius: 5px;
    border: 1px solid grey;
}

#start-chat-btn{
    width: 16rem;
    border-radius: 5px;
    outline: none;
    color: wheat;
    background: linear-gradient(to left, #774936 50%, wheat 50%) right;
    background-size: 200% 100%;
    border: none;
    height: 3rem;
    transition: background-position 300ms ease-in-out,
                scale 100ms linear;
    font-size: 1.15rem;

    &:hover{
        cursor: pointer;
        background-position: left;
        color: #774936;
    }

    &:active{
        scale: .95;
    }
}

.safe-container{
    position: relative;
    left: 2rem;
    width: 25rem;
    height: 7rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1.5rem;
    padding-right: 0; 
    gap: 2rem;
}

#shield{
    font-size: 5rem;
    color: #774936;
    margin-top: -.75rem;
}

.stuff-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    >span{
        font-size: .8rem;
        width: 95%;
        line-height: 1.1rem;
    }
}

#get-started-btn{
    width: 8rem;
    border-radius: 10px;
    height: 2.2rem;
    border: none;
    background: linear-gradient(to right, wheat 50%, #774936 50%) left;
    color: #774936;
    background-size: 200% 100%;
    transition: background-position 300ms ease-in-out,
                scale 100ms linear;

    &:hover{
        cursor: pointer;
        background-position: right;
        color: wheat;
    }

    &:active{
        scale: .95;
    }
}

.email-container{
    position: relative;
    width: 25rem;
    height: 9rem;
    right: 3rem;
    padding: 2rem;
}

#mail{
    font-size: 3rem;
    margin-bottom: -1rem;
}

#newsletterEmail{
    padding-left: .5rem;
}

.newsletter-div{
    display: flex;
    gap: 10px;
}

#ok{
    height: 2.25rem;
    width: 4.25rem;
    color: wheat;
    background: linear-gradient(to bottom, #774936 50%, wheat 50%) top;
    background-size: 100% 200%;
    border: none;
    border-radius: 5px;
    transition: background-position 300ms ease-in-out,
                scale 100ms linear;

        &:hover{
            cursor: pointer;
            background-position: bottom;
            color: #774936;
        }

        &:active{
            scale: .95;
        }
}

